# Clase 2: Notebook

### Subir bases de datos

In [4]:
# \ --> /
ruta = "C:/Users/HBP/Desktop/Python Set/"

In [ ]:
# Subir un csv
# paquetes.modulos.submodulos.métodos()
# método = función

In [5]:
import pandas as pd

In [6]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer: Union[str, pathlib.Path, IO[~AnyStr]], sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal: str = '.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handler (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : int, str, sequence of int / str, or False, default ``None``
      Column(s) to use as the row labels of the ``DataFrame``, either given as
      string name or column index. If a sequence of int / str is given, a
      MultiIndex is used.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g. when you have a malformed file with delimiters at
      the end of each line.
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
        'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparseable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

        .. versionadded:: 0.25.0
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.
    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    error_bad_lines : bool, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : bool, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.
    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.

    Returns
    -------
    DataFrame or TextParser
        A comma-separated values (csv) file is returned as two-dimensional
        data structure with labeled axes.

    See Also
    --------
    to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    >>> pd.read_csv('data.csv')  # doctest: +SKIP

In [9]:
aapl = pd.read_csv(ruta + "AAPL.csv"); aapl

,Date,Open,High,Low,Close,Adj Close,Volume
0,2007-12-31,28.500000,28.642857,28.250000,28.297142,25.366503,134833300
1,2008-01-02,28.467142,28.608572,27.507143,27.834286,24.951582,269794700
2,2008-01-03,27.915714,28.198572,27.527143,27.847143,24.963108,210516600
3,2008-01-04,27.350000,27.571428,25.555714,25.721428,23.057547,363958000
4,2008-01-07,25.892857,26.228571,24.318571,25.377142,22.748917,518048300
...,...,...,...,...,...,...,...
2514,2017-12-22,174.679993,175.419998,174.500000,175.009995,175.009995,16349400
2515,2017-12-26,170.800003,171.470001,169.679993,170.570007,170.570007,33185500
2516,2017-12-27,170.100006,170.779999,169.710007,170.600006,170.600006,21498200
2517,2017-12-28,171.000000,171.850006,170.479996,171.080002,171.080002,16480200
2518,2017-12-29,170.520004,170.589996,169.220001,169.229996,169.229996,25999900

In [10]:
aapl = pd.read_csv(ruta + "AAPL.csv")
aapl

,Date,Open,High,Low,Close,Adj Close,Volume
0,2007-12-31,28.500000,28.642857,28.250000,28.297142,25.366503,134833300
1,2008-01-02,28.467142,28.608572,27.507143,27.834286,24.951582,269794700
2,2008-01-03,27.915714,28.198572,27.527143,27.847143,24.963108,210516600
3,2008-01-04,27.350000,27.571428,25.555714,25.721428,23.057547,363958000
4,2008-01-07,25.892857,26.228571,24.318571,25.377142,22.748917,518048300
...,...,...,...,...,...,...,...
2514,2017-12-22,174.679993,175.419998,174.500000,175.009995,175.009995,16349400
2515,2017-12-26,170.800003,171.470001,169.679993,170.570007,170.570007,33185500
2516,2017-12-27,170.100006,170.779999,169.710007,170.600006,170.600006,21498200
2517,2017-12-28,171.000000,171.850006,170.479996,171.080002,171.080002,16480200
2518,2017-12-29,170.520004,170.589996,169.220001,169.229996,169.229996,25999900

In [12]:
sumaria = pd.read_stata(ruta + "687-Modulo34/sumaria-2019.dta")
sumaria

,aÑo,mes,nconglome,conglome,vivienda,hogar,ubigeo,dominio,estrato,percepho,...,gashog24,gashog26,gashog25,gashog2d,estrsocial,ld,linpe,linea,pobreza,factor07
0,2019,01,007076,005009,041,11,010101,sierra norte,"de 20,000 a 49,999 habitantes",2,...,22231.878906,23015.384766,23149.517578,22366.013672,e,0.815806,171.688263,302.621338,no pobre,94.218208
1,2019,01,007076,005009,056,11,010101,sierra norte,"de 20,000 a 49,999 habitantes",3,...,15891.502930,16446.982422,16698.673828,16102.574219,e,0.815806,171.688263,302.621338,no pobre,94.218208
2,2019,01,007076,005009,084,11,010101,sierra norte,"de 20,000 a 49,999 habitantes",1,...,16096.603516,16096.603516,16407.246094,16407.246094,e,0.815806,171.688263,302.621338,no pobre,94.218208
3,2019,01,007076,005009,098,11,010101,sierra norte,"de 20,000 a 49,999 habitantes",3,...,23300.148438,23588.042969,23652.033203,23364.138672,e,0.815806,171.688263,302.621338,no pobre,94.218208
4,2019,01,007089,005015,018,11,010101,sierra norte,"de 20,000 a 49,999 habitantes",3,...,44742.539062,44951.917969,45412.714844,45203.335938,d,0.815806,171.688263,302.621338,no pobre,71.583305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34560,2019,12,043948,011350,022,11,180101,costa sur,"de 50,000 a 99,999 habitantes",2,...,36245.558594,36245.558594,37693.914062,37693.914062,e,0.854033,174.192673,345.210449,no pobre,80.257660
34561,2019,12,043948,011350,059,11,180101,costa sur,"de 50,000 a 99,999 habitantes",2,...,23393.140625,22892.896484,23570.281250,23070.037109,e,0.854033,174.192673,345.210449,no pobre,80.257660
34562,2019,12,043948,011350,078,11,180101,costa sur,"de 50,000 a 99,999 habitantes",1,...,17501.556641,19399.974609,19563.822266,17665.404297,e,0.854033,174.192673,345.210449,no pobre,80.257660
34563,2019,12,043948,011350,097,11,180101,costa sur,"de 50,000 a 99,999 habitantes",1,...,19168.097656,19168.097656,19194.562500,19194.562500,e,0.854033,174.192673,345.210449,pobre no extremo,80.257660
34564,2019,12,043948,011350,116,11,180101,costa sur,"de 50,000 a 99,999 habitantes",2,...,20189.916016,20189.916016,20285.361328,20285.361328,e,0.854033,174.192673,345.210449,no pobre,80.257660

In [14]:
students = pd.read_json(ruta + "students.json")
students

      id             Name                 Email       Major  year
0   1044      Fran Morton      fran.m@quama.edu  Statistics  2015
1   1035     Kato Mullins       tempor@giat.com   Marketing  2014
2   1046    Jordan Keller         Cum@gmail.com   Chemistry  2014
3   1084    Macey Simpson  eu@famesacturpis.com     Finance  2016
4   1010    Deanna Ortega   Dea.Ortega@velit.ca   Chemistry  2016
5   1096        Joe Eaton        je@euismod.org         MIS  2014
6   1051  Yoko Washington      yoko@yahoo.co.uk   Marketing  2017
7   1074    Ebony Farrell  efarrella@gravid.com   Chemistry  2017
8   1034   Quinn Delacruz      Delacruz@shu.edu   Marketing  2017
9   1028   Magee Humphrey   mageehump@gmail.com     Physics  2016
10  1003   Kaitlin Cooper   kcooper@hotmail.com  Accounting  2014
11  1021       Carson Roy        croy@yahoo.com     History  2017

In [15]:
url = "https://estadisticas.bcrp.gob.pe/estadisticas/series/diarias/resultados/PD04719XD/html"

In [17]:
tbond10y = pd.read_html(url)
tbond10y.__class__

[                                                   0  \
 0  Consulta de SeriesPor CategoríaPor FrecuenciaP...

                                                    1
 0  Desde:  Hasta:  Bonos del Tesoro EE.UU. - 10 a...  ,
         Fecha  \
 0     14Ene97
 1     15Ene97
 2     16Ene97
 3     17Ene97
 4     20Ene97
 ...       ...
 6177  17Set20
 6178  18Set20
 6179  21Set20
 6180  22Set20
 6181  23Set20

      Tasas de interés internacionales - Bonos del Tesoro EE.UU. - 10 años (%)
 0                                                   6.5
 1                                                   6.5
 2                                                   6.6
 3                                                   6.5
 4                                                   6.5
 ...                                                 ...
 6177                                                0.7
 6178                                                0.7
 6179                                                0.7
 6180                                                0.7
 6181                                                0.7

 [6182 rows x 2 columns]]

In [18]:
tbond10y[1]

,Fecha,Tasas de interés internacionales - Bonos del Tesoro EE.UU. - 10 años (%)
0,14Ene97,6.5
1,15Ene97,6.5
2,16Ene97,6.6
3,17Ene97,6.5
4,20Ene97,6.5
...,...,...
6177,17Set20,0.7
6178,18Set20,0.7
6179,21Set20,0.7
6180,22Set20,0.7
6181,23Set20,0.7

In [20]:
# Case sensity
sumaria_spss = pd.read_spss(ruta + "687-Modulo34/Sumaria-2019.sav")
sumaria_spss

,AÑO,MES,NCONGLOME,CONGLOME,VIVIENDA,HOGAR,UBIGEO,DOMINIO,ESTRATO,PERCEPHO,...,GASHOG24,GASHOG26,GASHOG25,GASHOG2D,ESTRSOCIAL,LD,LINPE,LINEA,POBREZA,FACTOR07
0,2019,01,007076,005009,041,11,010101,sierra norte,"de 20,000 a 49,999 habitantes",2.0,...,22231.878906,23015.384766,23149.517578,22366.013672,E,0.815806,171.688263,302.621338,No Pobre,94.218208
1,2019,01,007076,005009,056,11,010101,sierra norte,"de 20,000 a 49,999 habitantes",3.0,...,15891.502930,16446.982422,16698.673828,16102.574219,E,0.815806,171.688263,302.621338,No Pobre,94.218208
2,2019,01,007076,005009,084,11,010101,sierra norte,"de 20,000 a 49,999 habitantes",1.0,...,16096.603516,16096.603516,16407.246094,16407.246094,E,0.815806,171.688263,302.621338,No Pobre,94.218208
3,2019,01,007076,005009,098,11,010101,sierra norte,"de 20,000 a 49,999 habitantes",3.0,...,23300.148438,23588.042969,23652.033203,23364.138672,E,0.815806,171.688263,302.621338,No Pobre,94.218208
4,2019,01,007089,005015,018,11,010101,sierra norte,"de 20,000 a 49,999 habitantes",3.0,...,44742.539062,44951.917969,45412.714844,45203.335938,D,0.815806,171.688263,302.621338,No Pobre,71.583305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34560,2019,12,043948,011350,022,11,180101,costa sur,"de 50,000 a 99,999 habitantes",2.0,...,36245.558594,36245.558594,37693.914062,37693.914062,E,0.854033,174.192673,345.210449,No Pobre,80.257660
34561,2019,12,043948,011350,059,11,180101,costa sur,"de 50,000 a 99,999 habitantes",2.0,...,23393.140625,22892.896484,23570.281250,23070.037109,E,0.854033,174.192673,345.210449,No Pobre,80.257660
34562,2019,12,043948,011350,078,11,180101,costa sur,"de 50,000 a 99,999 habitantes",1.0,...,17501.556641,19399.974609,19563.822266,17665.404297,E,0.854033,174.192673,345.210449,No Pobre,80.257660
34563,2019,12,043948,011350,097,11,180101,costa sur,"de 50,000 a 99,999 habitantes",1.0,...,19168.097656,19168.097656,19194.562500,19194.562500,E,0.854033,174.192673,345.210449,Pobre No Extremo,80.257660
34564,2019,12,043948,011350,116,11,180101,costa sur,"de 50,000 a 99,999 habitantes",2.0,...,20189.916016,20189.916016,20285.361328,20285.361328,E,0.854033,174.192673,345.210449,No Pobre,80.257660

In [25]:
from dbfread import DBF

In [26]:
from dbfread import DBF
airport = DBF(ruta + "airports.dbf")
airport

### Algebra lineal

In [27]:
import numpy as np

In [29]:
a1 = np.array([1,3,5,7,8,12]); a1

array([ 1,  3,  5,  7,  8, 12])

In [32]:
a2 = np.array([[1,3,5,7,8,12], [11,31,51,71,81,121], [51,53,55,57,58,512]])
a2

array([[  1,   3,   5,   7,   8,  12],
       [ 11,  31,  51,  71,  81, 121],
       [ 51,  53,  55,  57,  58, 512]])

In [33]:
help(np.array)

Help on built-in function array in module numpy:

array(...)
    array(object, dtype=None, copy=True, order='K', subok=False, ndmin=0)

    Create an array.

    Parameters
    ----------
    object : array_like
        An array, any object exposing the array interface, an object whose
        __array__ method returns an array, or any (nested) sequence.
    dtype : data-type, optional
        The desired data-type for the array.  If not given, then the type will
        be determined as the minimum type required to hold the objects in the
        sequence.
    copy : bool, optional
        If true (default), then the object is copied.  Otherwise, a copy will
        only be made if __array__ returns a copy, if obj is a nested sequence,
        or if a copy is needed to satisfy any of the other requirements
        (`dtype`, `order`, etc.).
    order : {'K', 'A', 'C', 'F'}, optional
        Specify the memory layout of the array. If object is not an array, the
        newly created array will be in C order (row major) unless 'F' is
        specified, in which case it will be in Fortran order (column major).
        If object is an array the following holds.

        ===== ========= ===================================================
        order  no copy                     copy=True
        ===== ========= ===================================================
        'K'   unchanged F & C order preserved, otherwise most similar order
        'A'   unchanged F order if input is F and not C, otherwise C order
        'C'   C order   C order
        'F'   F order   F order
        ===== ========= ===================================================

        When ``copy=False`` and a copy is made for other reasons, the result is
        the same as if ``copy=True``, with some exceptions for `A`, see the
        Notes section. The default order is 'K'.
    subok : bool, optional
        If True, then sub-classes will be passed-through, otherwise
        the returned array will be forced to be a base-class array (default).
    ndmin : int, optional
        Specifies the minimum number of dimensions that the resulting
        array should have.  Ones will be pre-pended to the shape as
        needed to meet this requirement.

    Returns
    -------
    out : ndarray
        An array object satisfying the specified requirements.

    See Also
    --------
    empty_like : Return an empty array with shape and type of input.
    ones_like : Return an array of ones with shape and type of input.
    zeros_like : Return an array of zeros with shape and type of input.
    full_like : Return a new array with shape of input filled with value.
    empty : Return a new uninitialized array.
    ones : Return a new array setting values to one.
    zeros : Return a new array setting values to zero.
    full : Return a new array of given shape filled with value.


    Notes
    -----
    When order is 'A' and `object` is an array in neither 'C' nor 'F' order,
    and a copy is forced by a change in dtype, then the order of the result is
    not necessarily 'C' as expected. This is likely a bug.

    Examples
    --------
    >>> np.array([1, 2, 3])
    array([1, 2, 3])

    Upcasting:

    >>> np.array([1, 2, 3.0])
    array([ 1.,  2.,  3.])

    More than one dimension:

    >>> np.array([[1, 2], [3, 4]])
    array([[1, 2],
           [3, 4]])

    Minimum dimensions 2:

    >>> np.array([1, 2, 3], ndmin=2)
    array([[1, 2, 3]])

    Type provided:

    >>> np.array([1, 2, 3], dtype=complex)
    array([ 1.+0.j,  2.+0.j,  3.+0.j])

    Data-type consisting of more than one element:

    >>> x = np.array([(1,2),(3,4)],dtype=[('a','<i4'),('b','<i4')])
    >>> x['a']
    array([1, 3])

    Creating an array from sub-classes:

    >>> np.array(np.mat('1 2; 3 4'))
    array([[1, 2],
           [3, 4]])

    >>> np.array(np.mat('1 2; 3 4'), subok=True)
    matrix([[1, 2],
            [3, 4]])

In [34]:
m1 = np.matrix([[  1,   3,   5,   7,   8,  12],
       [ 11,  31,  51,  71,  81, 121],
       [ 51,  53,  55,  57,  58, 512]])

In [35]:
m1

matrix([[  1,   3,   5,   7,   8,  12],
        [ 11,  31,  51,  71,  81, 121],
        [ 51,  53,  55,  57,  58, 512]])

In [39]:
# paquete.modulo.metodo
s1 = np.random.randn(1,10)
s1

array([[-0.11759559,  1.23628079,  3.04401537,  1.25630614, -0.17731151,
         0.27765668,  0.01261297, -0.13185069,  0.1868907 ,  0.94208671]])

In [40]:
s2 = np.random.random(10)
s2

array([0.55112582, 0.70757952, 0.53247524, 0.65419969, 0.10490919,
       0.49123747, 0.90739225, 0.38915489, 0.54171434, 0.97100825])

In [36]:
help(np.random.randn)

Help on built-in function randn:

randn(...) method of numpy.random.mtrand.RandomState instance
    randn(d0, d1, ..., dn)

    Return a sample (or samples) from the "standard normal" distribution.

    .. note::
        This is a convenience function for users porting code from Matlab,
        and wraps `standard_normal`. That function takes a
        tuple to specify the size of the output, which is consistent with
        other NumPy functions like `numpy.zeros` and `numpy.ones`.

    .. note::
        New code should use the ``standard_normal`` method of a ``default_rng()``
        instance instead; see `random-quick-start`.

    If positive int_like arguments are provided, `randn` generates an array
    of shape ``(d0, d1, ..., dn)``, filled
    with random floats sampled from a univariate "normal" (Gaussian)
    distribution of mean 0 and variance 1. A single float randomly sampled
    from the distribution is returned if no argument is provided.

    Parameters
    ----------
    d0, d1, ..., dn : int, optional
        The dimensions of the returned array, must be non-negative.
        If no argument is given a single Python float is returned.

    Returns
    -------
    Z : ndarray or float
        A ``(d0, d1, ..., dn)``-shaped array of floating-point samples from
        the standard normal distribution, or a single such float if
        no parameters were supplied.

    See Also
    --------
    standard_normal : Similar, but takes a tuple as its argument.
    normal : Also accepts mu and sigma arguments.
    Generator.standard_normal: which should be used for new code.

    Notes
    -----
    For random samples from :math:`N(\mu, \sigma^2)`, use:

    ``sigma * np.random.randn(...) + mu``

    Examples
    --------
    >>> np.random.randn()
    2.1923875335537315  # random

    Two-by-four array of samples from N(3, 6.25):

    >>> 3 + 2.5 * np.random.randn(2, 4)
    array([[-4.49401501,  4.00950034, -1.81814867,  7.29718677],   # random
           [ 0.39924804,  4.68456316,  4.99394529,  4.84057254]])  # random

In [41]:
# Matrices

In [42]:
A = np.matrix([[1,2,6],[2,5,7],[6,8,9]])

In [ ]:
# import numpy as np
# from numpy import linalg
# from numpy import linalg as la

In [43]:
np.linalg.det(A)

-46.99999999999999

In [44]:
from numpy import linalg

In [45]:
linalg.det(A)

-46.99999999999999

In [46]:
from numpy import linalg as la

In [47]:
la.det(A)

-46.99999999999999

In [48]:
la.inv(A)

matrix([[ 0.23404255, -0.63829787,  0.34042553],
        [-0.5106383 ,  0.57446809, -0.10638298],
        [ 0.29787234, -0.08510638, -0.0212766 ]])

In [52]:
x, y = la.eig(A)
x, y

(array([17.01248247, -2.94922831,  0.93674584]),
 matrix([[-0.35654034, -0.73000677,  0.64959149],
         [-0.51399605, -0.33893863, -0.72329633],
         [-0.78018398,  0.59347344,  0.23425055]]))

In [53]:
help(la.eig)

Help on function eig in module numpy.linalg:

eig(a)
    Compute the eigenvalues and right eigenvectors of a square array.

    Parameters
    ----------
    a : (..., M, M) array
        Matrices for which the eigenvalues and right eigenvectors will
        be computed

    Returns
    -------
    w : (..., M) array
        The eigenvalues, each repeated according to its multiplicity.
        The eigenvalues are not necessarily ordered. The resulting
        array will be of complex type, unless the imaginary part is
        zero in which case it will be cast to a real type. When `a`
        is real the resulting eigenvalues will be real (0 imaginary
        part) or occur in conjugate pairs

    v : (..., M, M) array
        The normalized (unit "length") eigenvectors, such that the
        column ``v[:,i]`` is the eigenvector corresponding to the
        eigenvalue ``w[i]``.

    Raises
    ------
    LinAlgError
        If the eigenvalue computation does not converge.

    See Also
    --------
    eigvals : eigenvalues of a non-symmetric array.

    eigh : eigenvalues and eigenvectors of a real symmetric or complex
           Hermitian (conjugate symmetric) array.

    eigvalsh : eigenvalues of a real symmetric or complex Hermitian
               (conjugate symmetric) array.

    Notes
    -----

    .. versionadded:: 1.8.0

    Broadcasting rules apply, see the `numpy.linalg` documentation for
    details.

    This is implemented using the ``_geev`` LAPACK routines which compute
    the eigenvalues and eigenvectors of general square arrays.

    The number `w` is an eigenvalue of `a` if there exists a vector
    `v` such that ``dot(a,v) = w * v``. Thus, the arrays `a`, `w`, and
    `v` satisfy the equations ``dot(a[:,:], v[:,i]) = w[i] * v[:,i]``
    for :math:`i \in \{0,...,M-1\}`.

    The array `v` of eigenvectors may not be of maximum rank, that is, some
    of the columns may be linearly dependent, although round-off error may
    obscure that fact. If the eigenvalues are all different, then theoretically
    the eigenvectors are linearly independent. Likewise, the (complex-valued)
    matrix of eigenvectors `v` is unitary if the matrix `a` is normal, i.e.,
    if ``dot(a, a.H) = dot(a.H, a)``, where `a.H` denotes the conjugate
    transpose of `a`.

    Finally, it is emphasized that `v` consists of the *right* (as in
    right-hand side) eigenvectors of `a`.  A vector `y` satisfying
    ``dot(y.T, a) = z * y.T`` for some number `z` is called a *left*
    eigenvector of `a`, and, in general, the left and right eigenvectors
    of a matrix are not necessarily the (perhaps conjugate) transposes
    of each other.

    References
    ----------
    G. Strang, *Linear Algebra and Its Applications*, 2nd Ed., Orlando, FL,
    Academic Press, Inc., 1980, Various pp.

    Examples
    --------
    >>> from numpy import linalg as LA

    (Almost) trivial example with real e-values and e-vectors.

    >>> w, v = LA.eig(np.diag((1, 2, 3)))
    >>> w; v
    array([1., 2., 3.])
    array([[1., 0., 0.],
           [0., 1., 0.],
           [0., 0., 1.]])

    Real matrix possessing complex e-values and e-vectors; note that the
    e-values are complex conjugates of each other.

    >>> w, v = LA.eig(np.array([[1, -1], [1, 1]]))
    >>> w; v
    array([1.+1.j, 1.-1.j])
    array([[0.70710678+0.j        , 0.70710678-0.j        ],
           [0.        -0.70710678j, 0.        +0.70710678j]])

    Complex-valued matrix with real e-values (but complex-valued e-vectors);
    note that ``a.conj().T == a``, i.e., `a` is Hermitian.

    >>> a = np.array([[1, 1j], [-1j, 1]])
    >>> w, v = LA.eig(a)
    >>> w; v
    array([2.+0.j, 0.+0.j])
    array([[ 0.        +0.70710678j,  0.70710678+0.j        ], # may vary
           [ 0.70710678+0.j        , -0.        +0.70710678j]])

    Be careful about round-off error!

    >>> a = np.array([[1 + 1e-9, 0], [0, 1 - 1e-9]])
    >>> # Theor. e-values are 1 +/- 1e-9
    >>> w, v = LA.eig(a)
    >>> w; v
    array([1., 1.])
    array([[1., 0.],
           [0., 1.]])

In [54]:
B = np.matrix([[9,4,6],[3,4,1],[3,3,3]])

In [55]:
A, B

(matrix([[1, 2, 6],
         [2, 5, 7],
         [6, 8, 9]]),
 matrix([[9, 4, 6],
         [3, 4, 1],
         [3, 3, 3]]))

In [56]:
A@B

matrix([[ 33,  30,  26],
        [ 54,  49,  38],
        [105,  83,  71]])

In [65]:
D = np.matrix([[2,-1,-2],[-4,6,3],[-4,-2,8]])

In [58]:
import scipy.linalg as la

In [66]:
m1 = la.lu(D)

In [67]:
m1

(array([[0., 0., 1.],
        [1., 0., 0.],
        [0., 1., 0.]]),
 array([[ 1.  ,  0.  ,  0.  ],
        [ 1.  ,  1.  ,  0.  ],
        [-0.5 , -0.25,  1.  ]]),
 array([[-4.  ,  6.  ,  3.  ],
        [ 0.  , -8.  ,  5.  ],
        [ 0.  ,  0.  ,  0.75]]))

In [69]:
m2 = la.qr(D)
m2

(array([[-3.33333333e-01,  1.48029737e-16,  9.42809042e-01],
        [ 6.66666667e-01, -7.07106781e-01,  2.35702260e-01],
        [ 6.66666667e-01,  7.07106781e-01,  2.35702260e-01]]),
 array([[-6.        ,  3.        ,  8.        ],
        [ 0.        , -5.65685425,  3.53553391],
        [ 0.        ,  0.        ,  0.70710678]]))

### Cálculo